.container {
  margin: 0 auto;
  max-width: 60rem;

  .profileImg {
    border-radius: 50%;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .sectionTitle {
    font-size: 2rem;
    color: var(--light-blue);
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        currentColor calc(10% / 3),
        transparent 0 calc(200% / 3),
        currentColor 0
      )
      var(--d, 0%) 100% /300% 3px no-repeat;
    transition: 0.5s;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;

    p {
      color: var(--light-gray);
      padding-bottom: 1rem;
      font-family: "Poppins", "Roboto", sans-serif;
      line-height: 1.65rem;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
