.project {
  background: var(--light-gray);
  padding: 1rem;
  border-radius: 0.25rem;
  position: relative;
  filter: brightness(110%);

  .Title {
    color: var(--light-blue);
    font-weight: 500;
    font-family: "Roboto", "Poppins", sans-serif;
    padding-bottom: 0.75rem;
    font-size: 1.3rem;
    filter: brightness(60%);
  }

  p {
    color: var(--dark-blue);
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-family: "Poppins", "Roboto", sans-serif;
    padding-bottom: 4rem;
  }

  .Techs {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    a {
      text-decoration: none;
      color: var(--dark-blue);
      opacity: 0.8;

      &:hover {
        opacity: 1;
        transition: opacity 0.5s;
      }

      & + a {
        margin-left: 0.5rem;
      }

      & + svg {
        margin-left: 0.5rem;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      filter: brightness(85%);

      & + svg {
        margin-left: 0.5rem;
      }
    }
  }
}
