.container {
  margin-top: 1.5rem;

  a {
    & + a {
      margin-left: 1rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
      color: var(--light-blue);
      cursor: pointer;
      transition: color 2s;

      &:hover {
        opacity: .7;
      }
    }
  }
}