.container {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

    .hamburgerIcon {
      border: none;
      background: none;

      svg {
        color: var(--light-blue);
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;

        @media (min-width: 767px) {
          display: none;
        }
      }
    }

    .links {
      @media (max-width: 767px) {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;

        li {
          & + li {
            margin-left: 1.5rem;
          }

          a {
            font-size: 1.25rem;
            font-weight: 700;
            text-decoration: none;
            color: var(--light-blue);
            text-transform: uppercase;

            background: linear-gradient(var(--light-gray) 0 0) 0 100% /
              var(--width, 50%) 4px no-repeat;

            &:hover {
              --width: 100%;
              transition: 0.5s;
              background: linear-gradient(var(--light-blue) 0 0) 0 100% /
                var(--width, 50%) 4px no-repeat;
            }
          }
        }
      }
    }
  }
}
