.container {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

    .hamburgerIcon {
      border: none;
      background: none;

      svg {
        color: var(--light-blue);
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;

        @media (min-width: 767px) {
          display: none;
        }
      }
    }

    .links {
      @media (max-width: 767px) {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;

        li {
          &:after {
            content: "";
            height: 0.3rem;
            width: 0.3rem;
            background: var(--light-gray);
            border-radius: 50%;
            margin: 0 1.5rem;
            display: inline-block;
            position: relative;
            bottom: 15%;
          }

          &:last-child {
            &:after {
              content: none;
            }
          }

          a {
            font-size: 1.25rem;
            font-weight: 700;
            text-decoration: none;
            color: var(--light-blue);
            text-transform: uppercase;

            &:hover {
              transition: 0.5s;
              background: linear-gradient(var(--light-blue) 0 0) 0 100% /
                var(--width, 100%) 2px no-repeat;
              color: var(--light-gray);
            }
          }
        }
      }
    }
  }
}
